/ ul
/   li
/     = link_to 'Home', root_path
/     = link_to 'New train', new_train_path
/     = link_to 'New train', new_train_path
/     = link_to 'New train', new_train_path
/     = link_to 'New train', new_train_path